name: CI

# Run this workflow every time a commit gets pushed to main or a pull request gets opened against main
on:
  push:
    branches:
      - main
  pull_request:
    branches: 
      - main

jobs:
    build:
        name: Call Azure Pipeline
        runs-on: windows-latest
        steps:
        - name: testname
          shell: pwsh
          run: |
            echo "Adinath"
            echo "Dukare"
            ls
            echo ${{ github.workspace }}
            ../test.ps1

          
